<!-- app.component.html -->
<span class="small-logo-style-position">
  <a style="margin-right: 15px;" href="https://www.bbb.org/us/az/snowflake/profile/general-contractor/timber-elite-construction-llc-1126-1000143037/#sealclick" 
        target="_blank" rel="nofollow">
        <img src="https://seal-central-northern-western-arizona.bbb.org/seals/blue-seal-120-61-bbb-1000143037.png" style="border: 0;" 
        alt="Timber Elite Construction LLC BBB Business Review" /></a>
  <img src="timberEliteLogoSmall.png" height="50px" width="50px" />
</span>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand brand-colors">
        <a style="margin-right: 15px;" href="https://www.bbb.org/us/az/snowflake/profile/general-contractor/timber-elite-construction-llc-1126-1000143037/#sealclick" 
        target="_blank" rel="nofollow">
        <img src="https://seal-central-northern-western-arizona.bbb.org/seals/blue-seal-120-61-bbb-1000143037.png" style="border: 0;" 
        alt="Timber Elite Construction LLC BBB Business Review" /></a>
        <img src="timberEliteLogoSmall.png" height="50px" width="50px" />
        <a class="navbar-brand brand-colors" href="">
          <span class="logo">Timber Elite Construction</span>
        </a>
      </div>

      <div class="nav nav-center collapse navbar-collapse navHeaderCollapse">
        <ul class="nav navbar-nav brand-link-spacer">
          <li
            [routerLinkActive]="['active']"
            data-toggle="collapse"
            data-target=".navHeaderCollapse"
          >
            <a class="links" routerLink="" routerLinkActive="active">Home</a>
          </li>
          <li
            [routerLinkActive]="['active']"
            data-toggle="collapse"
            data-target=".navHeaderCollapse"
          >
            <a class="links" routerLink="/services" routerLinkActive="active"
              >Services</a
            >
          </li>
          <li
            [routerLinkActive]="['active']"
            data-toggle="collapse"
            data-target=".navHeaderCollapse"
          >
            <a class="links" routerLink="/about" routerLinkActive="active"
              >About</a
            >
          </li>
          <li
            [routerLinkActive]="['active']"
            data-toggle="collapse"
            data-target=".navHeaderCollapse"
          >
            <a class="links" routerLink="/contact" routerLinkActive="active"
              >Contact</a
            >
          </li>
          <li>
            <a
              class="facebook facebook-position"
              href="https://www.facebook.com/people/Timber-Elite-Construction-LLC/61555604283441/"
              target="_blank"
              data-toggle="collapse"
              data-target=".navHeaderCollapse"
            >
              <i
                class="fa-brands fa-square-facebook fa-xl"
                style="color: #ecbe80"
              ></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<!-- Routing outlet -->
<router-outlet></router-outlet>