.services-container {
  display: flex;
  justify-content: center;
}

.services-h1 {
  font-size: 60px;
}

.services-p1 {
  width: 55%;
  font-size: x-large;
  text-align: center;
}

.button-bar {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  background-color: #424242;
  flex-wrap: wrap;
}

.button-bar button {
  font-size: 30px;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  background-color: #e0e0e0;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.button-bar button.active,
.button-bar button:hover {
  background-color: #EBBD7F;
  color: black;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 16px;
  padding: 20px;
  cursor: pointer;
}

.image-card {
  width: 100%;
  height: 300px;
  border-radius: 8px;
}
.image-card-youtube {
  justify-content: center;
  width: 1850px;
  height: 700px;
  border-radius: 8px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  cursor: zoom-out;
}

.full-image {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}

.services-youtube {
  width: 1850px;
  text-align: center;
}

@media screen and (max-width: 800px){
  .image-card-youtube {
    height: 300px;
    width: 400px;
  }

  .services-h1 {
    text-align: center;
  }

  .services-youtube {
    width: 400px;
  }

  .image-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .image-card {
    height: 200px;
  }

  .button-bar button {
    font-size: 20px;
  }
}