<div class="home-container">
  <div>
    <h1 class="home-h1">Welcome to Timber Elite Construction</h1>
  </div>
</div>

<div class="home-container">
  <div class="home-p1">
    <p>Discover more about Timber Elite Construction and what sets us apart in the construction and home improvement industry. 
      Check out our services to learn about our commitment to quality, see detailed examples of our work. Let us show you why 
      we’re the right choice for your next project!</p>
  </div>
</div>

<div class="home-container">
  <div>
    <div class="home-bgspacer">b</div>
    <img src="timberEliteLogo.jpg" alt="deck construction demo" />
  </div>
</div>